.header-pane {
    -fx-background-color: #FFFFFF;
    -fx-padding: 15px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -fx-border-color-subtle;
}

.sidebar-pane {
    -fx-background-color: #F5F6FA;
    -fx-padding: 15px 10px;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: -fx-border-color-subtle;
}

.content-pane {
    -fx-background-color: #FCFCFC;
    -fx-padding: 20px;
}
