@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

.root {
    -fx-font-family: "Roboto", "Segoe UI", sans-serif;
}

.header-pane {
    -fx-background-color: #FFFFFF;
    -fx-padding: 15px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #E1E4EC;
}

.header-label{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.logoutBtn{
    -fx-background-color: transparent;
    -fx-background-image: url("../icons/logout.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
}

.sidebar-pane {
    -fx-background-color: #FFFFFF;
    -fx-padding: 15px 10px;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #E1E4EC;
}

.content-pane {
    -fx-padding: 20px;
}

.text-field, .combo-box {
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: -fx-primary-border;
    -fx-border-radius: 4px;
    -fx-padding: 8px;
}

.view-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.form-vbox {
    -fx-spacing: 15px;
    -fx-padding: 20px;
    -fx-background-color: -fx-primary-bg;
    -fx-border-color: -fx-primary-border;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
}