.h1{
    -fx-font-size: 36px;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.h3{
    -fx-font-size: 16px;
}

.dataContainer{
    -fx-background-color: #EEE;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.dataContainer:hover{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 10, 0.3, 0, 3);
}