.sidebar-button {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-text-fill: #7b8496;
    -fx-max-width: infinity;
}

.sidebar-button:hover {
    -fx-background-color: #eceff4;
    -fx-cursor: hand;
}

.sidebar-button.active {
    -fx-background-color: #eceff4;
    -fx-text-fill: #0f1218;
}

.sidebar-button.active:hover {
    -fx-background-color: #e7e9f0;
}