.searchField{
    -fx-background-color: #3b82f6;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

Button{
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-padding: 4 8;
    -fx-cursor: hand;
}

.addBtn{
    -fx-border-color: #2a3240;
    -fx-background-color: transparent;
    -fx-text-fill: #2a3240;
}

.deleteBtn{
    -fx-background-color: #FDECEA;
    -fx-text-fill: #C62828;
}

.searchButton {
    -fx-background-color: #1976d2;
    -fx-text-fill: white;
}

.deleteBtn:hover{
    -fx-background-color: #FADBD8;
    -fx-border-color: #E57373;
}

.deleteBtn:pressed{
    -fx-background-color: #F5B7B1;
}